{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration form</title>
    <link rel="stylesheet" href="{% static 'css/ls.css' %}">
</head>
{% if username_exist == True %}
<script>
    alert("Username already exists");
</script>
{% elif email_exist == True %}
<script>
    alert("Email already exists");
</script>
{% endif %}

<body>
    <div class="container">
        <div class="login form">
            <header>Signup</header>
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <input type="text" placeholder="Enter your username" name="username" required>
                <input type="text" placeholder="Enter your email" name="email" required>
                <input type="password" placeholder="Enter your password" name="password" required>
                <input type="submit" class="button" value="Submit">
            </form>
            <div class="signup">
                <span class="signup">Already registered?
                    <label for="check"><a href="{% url 'login' %}">Login</a></label>
                </span>
            </div>
        </div>
    </div>
</body>

</html>